
:root {
    --bg-color: #000;
    --text-color: #0f0;
    --border-color: #0f0;
    --box-shadow-color: #0f0;
    --container-bg: rgba(0, 0, 0, 0.5);
    --input-bg: #010;
    --button-bg: #030;
    --button-hover-bg: #0f0;
    --button-hover-color: #000;
}

.light-mode {
    --bg-color: #fff;
    --text-color: #000;
    --border-color: #00f;
    --box-shadow-color: #00f;
    --container-bg: rgba(255, 255, 255, 0.8);
    --input-bg: #eee;
    --button-bg: #00f;
    --button-hover-bg: #00a;
    --button-hover-color: #fff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: radial-gradient(circle, var(--bg-color) 70%, var(--bg-color));
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    text-align: center;
    padding: 2rem;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    box-shadow: 0 0 20px var(--box-shadow-color);
    background-color: var(--container-bg);
}

#theme-toggle {
    position: fixed; /* Fixed position relative to the viewport */
    top: 1rem;
    right: 4.5rem; /* Adjusted position to make space for lang toggle */
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color);
    transition: color 0.3s ease;
    z-index: 1000; /* Ensure button is on top */
}

#lang-toggle {
    position: fixed; /* Fixed position relative to the viewport */
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color);
    transition: color 0.3s ease;
    z-index: 1000; /* Ensure button is on top */
}

h1 {
    font-size: 2.5rem;
    text-shadow: 0 0 10px var(--box-shadow-color);
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.input-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

#name-input {
    background-color: var(--input-bg);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
}

#extract-button {
    background-color: var(--button-bg);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#extract-button:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-color);
    box-shadow: 0 0 15px var(--box-shadow-color);
}

#result-container {
    margin-top: 2rem;
    font-size: 1.5rem;
    min-height: 50px;
}

fate-result {
    display: block;
    margin-top: 2rem;
}

fate-result::part(fate-text) {
    color: var(--text-color);
}

fate-result::part(fate-border) {
    border-color: var(--border-color);
}

